<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czwx.imall.system.mapper.SysUserRoleMapper">
	<resultMap type="com.czwx.imall.system.domain.SysUserRole" id="userRoleList">
		<result column="user_role_id" property="userRoleId" />
		<result column="user_id" property="userId" />
		<result column="role_id" property="roleId" />
		<result column="creator" property="creator" />
		<result column="create_time" property="createTime" />
	</resultMap>
	<resultMap type="java.util.HashMap" id="userRoleMap">
		<result column="user_role_id" property="userRoleId" />
		<result column="user_id" property="userId" />
		<result column="role_id" property="roleId" />
		<result column="creator" property="creator" />
		<result column="create_time" property="createTime" />
	</resultMap>
	<select id="queryUserRoleByUserId" parameterType="java.lang.Integer" resultMap="userRoleList">
		SELECT user_role_id,user_id,role_id,creator,create_time FROM sys_user_role WHERE user_id=#{userId}
	</select>
	<select id="queryUserRoleByRoleId" parameterType="java.lang.Integer" resultMap="userRoleList">
		SELECT user_role_id,user_id,role_id,creator,create_time FROM sys_user_role WHERE user_role_id=#{userRoleId}
	</select>
	<select id="queryAllUserRole" resultMap="userRoleList">
		SELECT user_role_id,user_id,role_id,creator,create_time FROM sys_user_role
	</select>

	<insert id="save" parameterType="com.czwx.imall.system.domain.SysUserRole">
		INSERT INTO arc_sys_user_role (
		user_id,
		role_id,
		create_time
		)
		VALUES
			(
			#{userId},
			#{roleId},
			now()
			)
	</insert>

	<insert id="addUserRole" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="user_role_id">
		INSERT INTO arc_sys_user_role (
			user_id,
			role_id,
			creator,
			create_time
		)
		VALUES
		<foreach collection="roleIds" item="item" separator=",">
		(
			#{userId},
			#{item},
			#{creator},
			now()
		)
		</foreach>
	</insert>
	<delete id="delUserRole" parameterType="java.util.Map">
		DELETE FROM arc_sys_user_role WHERE user_id = #{userId};
	</delete>

	<delete id="deleteByUserId" parameterType="long">
		delete from arc_sys_user_role where user_id = #{userId}
	</delete>

</mapper>